{% extends "bootstrap.html" %}
{% set active_page = "H2H" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Search Page</title>
</head>

<body>
    <form action="{{ url_for(''home_route.submit_data'') }}" method="post">
        <label for="search1">Search 1:</label>
        <input type="text" id="search1" name="search1">

        <label for="search2">Search 2:</label>
        <input type="text" id="search2" name="search2">

        <input type="submit" value="Submit">
    </form>
</body>

</html>
{% endblock %}