{% extends "bootstrap.html" %}
{% set active_page = "HtoH" %}

{% block content %}
<form action="{{ url_for('home_route.submit_data') }}" method="post">
    <label for="search1">Input player:</label>
    <input type="text" id="search1" name="search1">

    <label for="search2">versus</label>
    <input type="text" id="search2" name="search2">

    <input type="submit" value="Submit">
</form>

<body>

    <head>
        <title>Profile</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            #resultsTable {
                width: 100%;
                border-collapse: collapse;
            }

            #resultsTable th,
            #resultsTable td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            #resultsTable th {
                background-color: #04AA6D;
                color: white;
            }

            #resultsTable tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #resultsTable tr:hover {
                background-color: #ddd;
            }
        </style>
        <script>
            $(document).ready(function () {
                var player1Name, player1ID, player2Name, player2ID;

                $('form').on('submit', function (event) {
                    event.preventDefault(); // Prevent the form from submitting via the browser

                    var player1 = $('#search1').val();
                    var player2 = $('#search2').val();

                    $.ajax({
                        url: "{{ url_for('home_route.submit_data') }}",
                        method: 'POST',
                        data: {
                            search1: player1,
                            search2: player2
                        },
                        success: function (response) {
                            var result = response.result
                            var competitors = result.competitors
                            var table_records = []
                            if (competitors.length >= 2) {
                                // Assuming the first two competitors in the array are the ones you're interested in
                                player1Name = competitors[0].name;
                                player1ID = competitors[0].id;

                                player2Name = competitors[1].name;
                                player2ID = competitors[1].id;
                            }
                            var last_meetings = result.last_meetings

                            $('#resultsTable tbody').empty();
                            last_meetings.forEach(function (meeting) {
                                var event = meeting.sport_event.sport_event_context.competition.name
                                var round_name = meeting.sport_event.sport_event_context.round.name
                                var year_played = meeting.sport_event.sport_event_context.stage.year
                                var match_winner = meeting.sport_event_status.winner_id
                                var match_score_away = meeting.sport_event_status.away_score
                                var match_score_home = meeting.sport_event_status.home_score
                                if (match_winner == player1ID) {
                                    match_winner = player1Name
                                } else {
                                    match_winner = player2Name
                                }
                                console.log(match_winner)

                                // Create an HTML string for the table row
                                var rowHtml = '<tr>' +
                                    '<td>' + year_played + '</td>' +
                                    '<td>' + event + '</td>' +
                                    '<td>' + round_name + '</td>' +
                                    '<td>' + match_winner + '</td>' +
                                    '<td>' + strting(match_score_home) - string(match_score_away) + '</td>' +
                                    '</tr>';
                                $('#resultsTable tbody').append(rowHtml);
                            })





                            // Handle the response here
                            console.log(response); // For debugging, log the response to the console
                            // You can update the DOM based on the response
                        }
                    });
                });
            });
        </script>
    </head>
    <!-- ... Additional tables for other data like surfaces -->
    <h2>Head to Head Results:</h2>
    <table id="resultsTable">
        <thead>
            <tr>
                <th>Year: </th>
                <th>Event: </th>
                <th>Round Played: </th>
                <th>Winner: </th>
                <th>Score: </th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be appended here -->
        </tbody>
    </table>



    {% endblock %}