{% extends "bootstrap.html" %}
{% set active_page = "player_profile_dash" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title> Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault(); // Prevent the form from submitting via the browser
                $.ajax({
                    url: "{{ url_for('home_route.handle_data') }}",
                    method: 'POST',
                    data: {
                        playerName: $('#inputBox').val()
                    },
                    success: function (response) {
                        console.log(response); // Log the response to the console
                        $('#resultDisplay').text(JSON.stringify(response, null, 2)); // Display the result in the page
                    }
                });
            });
        });
    </script>
</head>

<body>
    <form>
        <label for="inputBox">Player Name: </label>
        <input type="text" id="inputBox" name="playerName">
        <input type="submit" value="Submit">
    </form>
    <p id="resultDisplay"></p> <!-- Element to display the result -->
</body>


{% endblock %}